


<div  class="modal fade"  id="id_members" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-tittle">Review Entries</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <h5>
                            <div class="col-sm-8 col-sm-offset-0 ">
                                 <td>
                                    <img  id="id_modal_image"
                   {% if instance.members_image %}
                       src="{{ instance.members_image.url}} " heght="500" width="500"
                   {% else %}
                                          src=""
                   {% endif %} >
               </td>
                                </div>
                            </div>
                        </h5>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="save_image">close</button>
                </div>
            </div>
        </div>
</div>



<div  class="modal fade"  id="id_victims " >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-tittle">Review Entries</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <h5>
                            <div class="col-sm-8 col-sm-offset-0 ">
                                 <td>
                                    <img  id="id_modal_image"
                   {% if instance.victims_image %}
                       src="{{ instance.victims_image.url}} " heght="500" width="500"
                   {% else %}
                                          src=""
                   {% endif %} >
               </td>
                                </div>
                            </div>
                        </h5>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="save_image">close</button>
                </div>
            </div>
        </div>
</div>




